@{
    ViewBag.Title = "Over GDM";
}
<div class="row-fluid">
    <h1 class="span12">@ViewBag.Title</h1>
</div>
<div class="row-fluid">    
    <section class="span8">
        <article class="panel">
            <p>Kun jij je geen leven zonder het web voorstellen en vind je de iPhone ook 
            de beste uitvinding sinds het gesneden brood? Kan je niet door een krant 
            of tijdschrift bladeren zonder te focussen op lay-out en vormgeving? Of zie 
            je jezelf als marketingstrateeg de crossmediaconcepten van de toekomst 
            bedenken? Nee? Dan is de technische leiding over een mediabedrijf misschien 
            helemaal je ding!</p>
            <p>Welke invalshoek je ook kiest, een unieke opleiding boordevol projecten 
            en contacten met de bedrijfswereld staat klaar om van jou een gedreven 
            professional te maken.</p>
            <h2>Bachelor in de grafische en digitale media</h2>
            <p>Je start met een brede basisopleiding die via afstudeerrichtingen en keuzetrajecten
            inspeelt op jouw talenten of specialisatiewens. Via uiteenlopende projecten, hetzij 
            individueel of in team, bereiden we je voor op de uitdagingen van het werkveld. 
            En wie weet groeit uit deze eerste contacten wel een toekomstig partnership of 
            klantenrelatie? Aan interessante belevingen en werkervaring alvast geen gebrek 
            tijdens deze opleiding!</p>
            <h2>Hoe ziet het eerste jaar eruit?</h2> 
            <p>Eerst en vooral kies je een afstudeerrichting (zie volgende pagina’s). Welke 
            je ook kiest, je duikt in een hightechomgeving die inspeelt op de modernste 
            communicatiebehoeften. Jij bepaalt de leerweg en de specialisatie. Je combineert 
            in je opleidingspakket design, techniek en management naargelang je persoonlijke 
            voorkeur en interesse. Gaandeweg kun je nog bijsturen zodat je de richting vindt 
            die het best bij je past.</p>
            <h2>Waarom deze opleiding kiezen?</h2>
            <ul>
                <li>Wij zijn marktleider in Vlaanderen inzake de opleiding van 
                grafische professionals. </li>
                <li>Je ontdekt en ontplooit je talenten dankzij afstudeerrichtingen en keuzetrajecten vanaf het tweede semester.</li>
                <li>We bieden een mooie afwisseling van theorie en praktijk.</li>
                <li>Door compacte uurroosters hou je tijd over voor zelfstudie 
                en ontspanning.</li> 
                <li>We beschikken over moderne en up-to-date infrastructuur:
                    <ul>
                        <li>multimedialabs</li>
                        <li>fotostudio</li>
                        <li>schetsterras</li>
                        <li>print-&-signatelier</li>
                        <li>gloednieuw gebouw</li>
                        <li>wireless netwerk</li>
                        <li>parkeergelegenheid</li>
                        <li>een groene omgeving</li>
                    </ul>
                </li>
                <li>Er is een rechtstreekse busverbinding naar het Sint-Pietersstation.</li> 
                <li>Werkgevers zoeken onze studenten.</li>
            </ul>
        </article>
    </section>
    <aside class="span4">
        <figure>
            <img src="~/images/overons_1.png" alt="Over GDM - Afbeelding 1" />
            <figcaption>Over GDM - Afbeelding 1</figcaption>
        </figure>
    </aside>
</div>
