<div class="wrapper" id="header-wrapper">
    <div class="container">
        <header class="row" id="header">
            <hgroup id="header-logo" class="pull-left">
                <h1><a href="/" title="Back to the homepage">GDM</a></h1>
                <h2>Bachelor in de Grafische en Digitale Media</h2>
            </hgroup>
            <div id="courtesy" class="pull-right">
                @{Html.RenderPartial("_LoginStatePartial");}
            </div>
        </header>
    </div>        
</div>