<div class="wrapper" id="postcontent-wrapper">
    <div class="container">
        <div class="row" id="postcontent">
            <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h4>Contactgegevens GDM</h4>
                <address class="address">
                    <ul class="clearfix">
                        <li><i class="icon-map-marker icon-large"></i>Industrieweg 232</li>
                        <li><i class="icon-map-marker icon-large"></i>9030 Mariakerke (Gent)</li>
                        <li class="geo">
                            <i class="icon-map-marker icon-large"></i>
                            <abbr class="latitude" title="3.669174">3&deg;40&#39;9.03&quot;S</abbr>, 
                            <abbr class="longitude" title="51.087243">51&deg;5&#39;14.07&quot;O</abbr>        
                        </li>
                        <li><i class="icon-phone icon-large"></i>(+32) 09 234 86 00</li>
                        <li><i class="icon-envelope icon-large"></i><a href="mailto:info.grafische.digitalemedia@arteveldehs.be?subject=Contact via website" title="Email GDM: info.grafische.digitalemedia@arteveldehs.be">info.grafische.digitalemedia@arteveldehs.be</a></li>
                        <li><i class="icon-globe icon-large"></i><a href="http://www.arteveldehs.be/emc.asp?pageId=1940" title="Bachelor in de grafische en digitale media">Officiële website GDM</a></li>
                    </ul>
                </address>
            </section>            
            <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h4>Laatste tweets</h4>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-2 col-lg-2 socialmedia">
                <h4>Volg ons</h4>
                <ul class="clearfix">
                    <li><a href="#" class="social-twitter"></a></li>
                    <li><a href="#" class="social-facebook"></a></li>
                    <li><a href="#" class="social-linkedin"></a></li>
                    <li><a href="#" class="social-flickr"></a></li>
                </ul>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-2 col-lg-2 socialmedia">
                <h4>Volg ons</h4>
                <ul class="clearfix">
                    <li><a href="#" class="social-twitter"></a></li>
                    <li><a href="#" class="social-facebook"></a></li>
                    <li><a href="#" class="social-linkedin"></a></li>
                    <li><a href="#" class="social-flickr"></a></li>
                </ul>
            </section>
        </div>
    </div>
</div>