@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Category
            </div>
            <div class="panel-body">
               @{Html.RenderAction("CategoryCreatePartialView", "Category");}
            </div>
        </div>        
    </section>
    <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> 
        <div class="panel panel-default">
            <div class="panel-heading">
                List of available Categories
            </div>
            <div id="category-list" class="panel-body">
                @{Html.RenderAction("CategoryListPartialView", "Category");}
            </div>
        </div>  
    </section>
</div>
<div id="edit-category-dialog" title="Edit category">    
</div>
<div id="delete-category-dialog" title="Delete category">
    <p>Are you sure you want to delete this category?</p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var deleteCategoryLink; 
        (function () {         
            $('#edit-category-dialog').dialog({
                autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
                buttons: {
                    "Save": function () {
                        var categoryViewModel = $('#edit-category').serialize();
                        $.post($('#edit-category').attr('action'), categoryViewModel, function (data) {  //Post to action

                            if (data != null) {
                                $('#category-list').html(data);

                                showMessage('#info-message', 'success', '<strong>Successfully</strong> updated the selected category.');
                            }
                            else {
                                showMessage('#info-message', 'error', '<strong>Update Error!</strong> Could not update the selected category.');
                            }
                            registerClickListeners();
                        });
                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });                       
            $('#delete-category-dialog').dialog({
                autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
                buttons: {
                    "Delete": function () {
                        $.post(deleteCategoryLink[0].href, function(data) {  //Post to action

                            if (data.state == true) {
                                var dataRow = $('#category-list tr[data-id="category-' + data.id + '"]');
                                $(dataRow).effect('highlight', {}, 500, function () {
                                    $(this).fadeOut('fast', function () {
                                        $(this).remove();
                                    });
                                });
                                showMessage('#info-message', 'success', '<strong>Successfully</strong> deleted the selected category: ' + $(dataRow).data('name'));
                            }
                            else {
                                showMessage('#info-message', 'error', '<strong>Delete Error!</strong> Could not delete the selected category: ' + $(dataRow).data('name'));
                            }
                        });
                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
                
            });

            registerClickListeners();
        })();

        function registerClickListeners() {
            $('.delete-category-link').click(function () {
                deleteCategoryLink = $(this);
                $('#delete-category-dialog').dialog('open');
                return false;
            });
            $('.edit-category-link').click(function () {
                $.get($(this)[0].href, function (response) {
                    $('#edit-category-dialog').html(response);
                    $('#edit-category-dialog').dialog('open');
                });
                return false;
            });
        }
        function CategoryCreateSuccess(data) {
            registerClickListeners();
            $(':input', '#category-create').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
        }        
    </script>
}