<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="gdmEntities" connectionString="metadata=res://*/GDM.csdl|res://*/GDM.ssdl|res://*/GDM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=gdm&quot;" providerName="System.Data.EntityClient" />
    <add name="gdmEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=gdm&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>