@{
    ViewBag.Title = "Copyright & Privacy van GDM";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row-fluid">
    <div class="span6">
        <h2>Copyright &amp; Privacy</h2>
        <h3>Verstrekte informatie</h3>
        <p>De Arteveldehogeschool wil haar bezoekers nauwkeurige en geactualiseerde informatie verstrekken over het onderwijsaanbod, vacatures, dienstverlening enz. De Arteveldehogeschool kan evenwel niet aansprakelijk gesteld worden voor foutieve of verouderde informatie. Eventuele opmerkingen met betrekking tot de verstrekte informatie kunnen meegedeeld worden via info@arteveldehs.be</p>
        <h3>Links en verwijzigingen</h3>
        <p>De website bevat hyperlinks en verwijzingen naar andere webstekken en informatiebronnen. Zij worden u enkel ten informatieve titel meegedeeld.</p>
        <p>De Arteveldehogeschool kan niet aansprakelijk gesteld worden voor enige schade die zou voortvloeien uit het consulteren van informatie die zich op andere webstekken of bij andere informatiebronnen bevindt waarnaar de eigen website verwijst.</p>
        <p>Indien u hyperlinks naar onze webstek wil creëren, dient u hiertoe de toelating te vragen aan de algemene directie & diensten, Hoogpoort 15, 9000 Gent.</p>
        <h3>Intellectuele rechten</h3>
        <p>De Arteveldehogeschool behoudt alle intellectuele rechten op de website en de hierop geplaatste informatie.</p>
        <p>De bezoeker mag voor persoonlijk gebruik gegevens downloaden. De op deze URL gevonden informatie mag gebruikt worden overeenkomstig de bepalingen van de Belgische auteurswetgeving.</p>
        <h3>Persoonsgegevens</h3>
        <p>Alle door u verstrekte persoonlijke gegevens worden opgenomen in bestanden van de Arteveldehogeschool. Ze dienen enkel om de door u gevraagde informatie te verstrekken.</p>
        <p>Overeenkomstig de wet betreffende de verwerking van persoonsgegevens heeft u, na afspraak met de webstekverantwoordelijke het recht de u betreffende gegevens te raadplegen en zo nodig te verbeteren.</p>
    </div>
    <div class="span6">
        <h2>Vragen of opmerkingen?</h2>
        <h3>Verstrekte informatie</h3>
        <p>De Arteveldehogeschool wil haar bezoekers nauwkeurige en geactualiseerde informatie verstrekken over het onderwijsaanbod, vacatures, dienstverlening enz. De Arteveldehogeschool kan evenwel niet aansprakelijk gesteld worden voor foutieve of verouderde informatie. Eventuele opmerkingen met betrekking tot de verstrekte informatie kunnen meegedeeld worden via info@arteveldehs.be</p>
        <h3>Links en verwijzigingen</h3>
        <p>De website bevat hyperlinks en verwijzingen naar andere webstekken en informatiebronnen. Zij worden u enkel ten informatieve titel meegedeeld.</p>
        <p>De Arteveldehogeschool kan niet aansprakelijk gesteld worden voor enige schade die zou voortvloeien uit het consulteren van informatie die zich op andere webstekken of bij andere informatiebronnen bevindt waarnaar de eigen website verwijst.</p>
        <p>Indien u hyperlinks naar onze webstek wil creëren, dient u hiertoe de toelating te vragen aan de algemene directie & diensten, Hoogpoort 15, 9000 Gent.</p>
        <h3>Intellectuele rechten</h3>
        <p>De Arteveldehogeschool behoudt alle intellectuele rechten op de website en de hierop geplaatste informatie.</p>
        <p>De bezoeker mag voor persoonlijk gebruik gegevens downloaden. De op deze URL gevonden informatie mag gebruikt worden overeenkomstig de bepalingen van de Belgische auteurswetgeving.</p>
        <h3>Persoonsgegevens</h3>
        <p>Alle door u verstrekte persoonlijke gegevens worden opgenomen in bestanden van de Arteveldehogeschool. Ze dienen enkel om de door u gevraagde informatie te verstrekken.</p>
        <p>Overeenkomstig de wet betreffende de verwerking van persoonsgegevens heeft u, na afspraak met de webstekverantwoordelijke het recht de u betreffende gegevens te raadplegen en zo nodig te verbeteren.</p>
    </div>
</div>
