@{
    ViewBag.Title = "Over GDM";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>About</h2>

<div class="row-fluid">
    <div class="span6">
        <p>Kun jij je geen leven zonder het web voorstellen en vind je de iPhone ook 
        de beste uitvinding sinds het gesneden brood? Kan je niet door een krant 
        of tijdschrift bladeren zonder te focussen op lay-out en vormgeving? Of zie 
        je jezelf als marketingstrateeg de crossmediaconcepten van de toekomst 
        bedenken? Nee? Dan is de technische leiding over een mediabedrijf misschien 
        helemaal je ding!</p>
        <p>Welke invalshoek je ook kiest, een unieke opleiding boordevol projecten 
        en contacten met de bedrijfswereld staat klaar om van jou een gedreven 
        professional te maken.</p>
        <p>Je start met een brede basisopleiding die via afstudeerrichtingen en keuzetrajecten 
        inspeelt op jouw talenten of specialisatiewens. Via uiteenlopende projecten, hetzij 
        individueel of in team, bereiden we je voor op de uitdagingen van het werkveld. 
        En wie weet groeit uit deze eerste contacten wel een toekomstig partnership of 
        klantenrelatie? Aan interessante belevingen en werkervaring alvast geen gebrek 
        tijdens deze opleiding!</p>
    </div>
</div>

