@{
    Layout = "_LayoutMain.cshtml";
}
@* RENDER SECTION: FEATURED IF PRESENT *@
@RenderSection("featured", required: false)
@* RENDER SECTION: PRECONTENT IF PRESENT *@
@RenderSection("precontent", required: false)
<div class="wrapper" id="content-wrapper">
    <div class="container" id="content">
        @RenderBody()
    </div>
</div>
@* RENDER EXTRA PAGE RELATED JS *@
@section scripts{
    @RenderSection("scripts", required: false)
}