<div class="wrapper" id="postcontent-wrapper">
    <div class="container">
        <div class="row-fluid" id="postcontent">
            <section class="span4">
                <h4>Contactgegevens GDM</h4>
                <address class="address">
                    <ul>
                        <li><i class="icon-map-marker icon-large"></i>Industrieweg 232</li>
                        <li><i class="icon-none"></i>9030 Mariakerke (Gent)</li>
                        <li><i class="icon-phone icon-large"></i>(+32) 09 234 86 00</li>
                        <li><i class="icon-mail-forward icon-large"></i><a href="mailto:info.grafische.digitalemedia@arteveldehs.be?subject=Contact via website" title="Email GDM: info.grafische.digitalemedia@arteveldehs.be">info.grafische.digitalemedia@arteveldehs.be</a></li>
                        <li><i class="icon-external-link icon-large"></i><a href="http://www.arteveldehs.be/emc.asp?pageId=1940" title="Bachelor in de grafische en digitale media">Officiële website GDM</a></li>
                    </ul>
                </address>
            </section>
            <section class="span4">
                <h4>Social Media</h4>
                <ul>
                    <li><a href="" rel="external" title=""><i class="icon-facebook icon-large"></i>Facebook</a></li>
                    <li><a href="" rel="external" title=""><i class="icon-twitter icon-large"></i>Twitter</a></li>
                    <li><a href="" rel="external" title=""><i class="icon-linkedin icon-large"></i>Linkedin</a></li>
                    <li><a href="" rel="external" title=""><i class="icon-behanced icon-large"></i>Behanced</a></li>
                    <li><a href="" rel="external" title=""><i class="icon-github icon-large"></i>Github</a></li>
                    <li><a href="" rel="external" title=""><i class="icon-vimeo icon-large"></i>Github</a></li>
                </ul>
            </section>
            <section class="span4">
                www
            </section>
        </div>
    </div>
</div>