<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="gdmCS" connectionString="server=localhost;User Id=root;Persist Security Info=True;database=gdm" providerName="MySql.Data.MySqlClient"/>
    <add name="bamaStudents"
         connectionString="Data Source=SAGITTARIUS\SQLEXPRESS;Initial Catalog=GDMPortal;User Id=gdmportal2;Password=gordijntje;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>