<li class="dropdown user">
    <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
        <img src="images/avatars/sugge.jpg" alt="sugge" />
        <span class="more">
            <i class="icon16 i-arrow-down-2"></i>
        </span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="#" class="">
                <i class="icon16 i-cogs"></i> 
                Settings
            </a>
        </li>
    </ul>
</li>