@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="row-fluid">
    <div class="span8 panel">
        @Html.Action("PVDetails", "Article")
    </div>
    <aside class="span4">
        PVDetails
    </aside>
</div>
